.input-group-text {
  width: 37px;
}
button {
  width: 45%;
}
.card-text {
  font-family: "Noto Sans JP", sans-serif;
}
.navbar-nav {
  font-family: "Noto Sans JP", sans-serif;
}
.size {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
.buttons {
  width: 100%;
}
.width {
  width: 40px;
  min-width: 3%;
  margin: 2px;
  height: 100%;
}

.card-style {
  height: 50%;
  margin-left: 20px;
  margin-top: 46px;
}
.container-card {
  border: 2px solid #ccc;

  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.container-card::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 500px) {
  .respons {
    margin-top: -30px;
  }
}
@media (max-width: 500px) {
  .responsRight {
    margin-right: -30px;
  }
}
.card-style {
  border: 2px solid #ccc;
}

.formSize {
  width: 100vw;
  height: 95vh;
}
.color {
  background: linear-gradient(45deg, #2980b9, #6dd5fa, #ffffff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  font-family: "Noto Sans JP", sans-serif;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.opacity {
  opacity: 0.9;
}
.background {
  background: linear-gradient(45deg, #2980b9, #6dd5fa, #ffffff);
  height: 95vh;
}
